body {
  overflow-y: scroll;
}

.avatar {
  max-width: 250px;
}

#main-container {
  max-width: 1000px;
}

.header-emoji {
  margin-left: 5px;
}

a i.bi {
  margin-right: 5px;
}

@counter-style project-counter {
  system: cyclic;
  symbols: "\1F30D" "\1F40D" "\1F680" "\1F4DA";
  suffix: '   ';
}

#project-list {
  list-style-type: project-counter;
}

#project-list li {
  margin-bottom: 8px;
}