# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# rbenv
.ruby-version

# python venv
venv/

# simple-photo-gallery
gallery/public/index.html
gallery/public/images/thumbnails/*
gallery/images_data.json
www/photos.html

# Mac
.DS_Store