---
title: Caving Log
description: Andrew Northall's digital caving log.
layout: default
permalink: /caves/
---

<h2 class="mb-0 mt-0 display-5">
    Caving Log
</h2>

<hr class="col-4 mt-2 mb-3">

<p class="lead">Below you will find my up-to-date digital caving log, with links to trip reports for activities which have them.</p>

<!-- Cave log table -->
<div class="table-responsive">
  <table class="table table-striped table-hover text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Cave</th>
        <th scope="col">Type</th>
        <th scope="col">Club</th>
        <th scope="col">Trip Report</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>

    <tbody>
      {% for row in site.data.caves %}
        <tr>
          <th scope="row">{{ row["Number"] }}</th>
          <td>{{ row["Date"] }}</td>

          <td>
            {{ row["Cave"] }}
            {% if row["Cave Link"] %}
              &nbsp;
              <a href="{{ row["Cave Link"] }}">
                <i class="fa-solid fa-link"></i>
              </a>
            {% endif %}
          </td>

          <td>{{ row["Type"] }} </td>

          <td>
            {{ row["Club"] | default:'-' }}
            {% if row["Club"] %}
              {% if row["Club Link"] %}
                &nbsp;
                <a href="{{ row["Club Link"] }}">
                  <i class="fa-solid fa-link"></i>
                </a>
              {% endif %}
            {% endif %}
          </td>

          {% if row["Link"] %}
            <td>
              <a href="{{ row["Link"] }}">
                <i class="fa-solid fa-link"></i>
              </a>
            </td>
          {% else %}
            <td>-</td>
          {% endif %}

          <td class="text-start">{{ row["Notes"] }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
