---
title: Andrew Northall
description: Andrew Northall's personal website and blog.
tag-name: caving
layout: default
permalink: /tags/caving/
---

<h2 class="mb-0 mt-0 display-5">
    Blog <small class="text-muted">Caving</small>
</h2>

<hr class="col-4 mt-3 mb-3">

{% for post in site.posts %}
  {% if post.tags contains "caving" %}
    <!--<hr class="col-3 col-md-4 mt-3 mb-3">-->

    <h1 class="mb-0"><a class="text-decoration-none title-link" href="{{ post.url }}">{{ post.title }}</a></h1>

    <small class="fw-light mt-0">Published: {{ post.pub_date }}</small>

    &middot; <small class="fw-light">Tagged: {% for tag in post.tags %}<a class="title-link" href="/tags/{{ tag }}">{{ tag }}</a> {% endfor %}</small>

    <div class="mt-4 mb-4"></div>

    <div class="mb-4">
      {{ post.excerpt }}
    </div>

    <p>
      <a href="{{ post.url }}">Read the full post...</a>
    </p>
    
    <small class="fw-light fst-italic">
      &mdash; Authored by <a class="link-secondary text-decoration-none" href="mailto:andrew@northall.me.uk">Andrew Northall</a>
      &middot; <a class="link-secondary text-decoration-none" href="{{ post.url }}">Permanent link</a>
    </small>
    
    <hr class="col-3 col-md-6 mt-4 mb-4">
  {% endif %}
{% endfor %}