---
title: Andrew Northall
description: Andrew Northall's personal website and blog.
layout: page
permalink: /
---

<h3 class="mb-4 mt-3 faint-underline">
  <strong>Blog</strong> <span class="text-muted">Latest Posts</span>
</h3>

{% for post in site.posts %}
  {% if forloop.index > 1 %}<div class="divider div-transparent div-arrow-down mb-5 mt-5"></div>{% endif %}

  {% assign link_title = true %}
  {% include post_title.html %}
  <!-- {% include author_box.html %} -->

  <div class="mb-4 mt-2">
    {{ post.excerpt }}
  </div>

  <p>
    <a href="{{ post.url }}">Read the full post...</a>
  </p>
{% endfor %}
