<div class="container p-0 mt-0 mb-3 author-box">
  <div class="row">
    <div class="col-auto m-0">
      <img class="rounded-circle border author-box-avatar" alt="{{ post.author }}'s avatar" src="{{ post.avatar }}">
    </div>
    <div class="col-auto align-self-center">
      <div class="row">
        <div class="col-auto align-self-center px-0">{{ post.pub_date }}</div>
      </div>
      <div class="row">
        <div class="col-auto align-self-center px-0">
          by <a class="faded-link" href="mailto:{{ post.author_email }}?subject=Blog%20Post">{{ post.author }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
