<div class="collapse navbar-collapse" id="navbar">

  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="/"><i class="fa-solid fa-pen"></i>&nbsp; Blog</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/caves/"><i class="fa-solid fa-list"></i>&nbsp; Caves</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/radio/"><i class="fa-solid fa-radio"></i>&nbsp; Radio</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/photos/"><i class="fa-solid fa-camera"></i>&nbsp; Photos</a>
    </li>
  </ul>

  <ul class="navbar-nav ms-md-auto">
    <li class="nav-item">
      <a target="_blank" rel="noopener" class="nav-link" href="https://www.instagram.com/andrewnorthall/"><i class="fa-brands fa-instagram"></i>&nbsp; Instagram</a>
    </li>

    <li class="nav-item">
      <a target="_blank" rel="noopener" class="nav-link" href="https://www.youtube.com/channel/UC-ileIN7EvPA6OHII0Laf6A"><i class="fa-brands fa-youtube"></i>&nbsp; YouTube</a>
    </li>

    <li class="nav-item">
      <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/anorthall/"><i class="fa-brands fa-github"></i>&nbsp; GitHub</a>
    </li>

    <li class="nav-item">
      <a target="_blank" rel="noopener" class="nav-link" href="mailto:andrew@northall.me.uk?subject=northall.me.uk"><i class="fa-solid fa-envelope"></i>&nbsp; Email</a>
    </li>
  </ul>

</div>
