{% include reading_time.html content=post.content %}
{% assign post = page %}

<div class="container p-0 mb-0">
  <div class="row">
    <div class="col-auto">
      <h1 class="align-self-center mb-0">
        {% if link_title %}
          <a class="text-decoration-none faded-link" href="{{ post.url }}">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </h1>
    </div>
    <div class="d-none d-lg-block col text-end text-muted align-self-center">
      {{ reading_time }} &nbsp;&middot;&nbsp; {{ post.pub_date }}
    </div>
  </div>
</div>

<div class="d-lg-none mt-0 text-muted">
  <em>{{ post.pub_date }} &nbsp;&middot;&nbsp; {{ reading_time }}</em>
</div>